body{
	background-color: #fff;
}

#logo{
	margin-bottom: -132px;
	margin-left: 55px;
	height: 132px;
	width: 100px;
}

.nav{
	background-color: #009053;
	box-shadow: inset 0px -4px 6px #00653a, inset 0px 4px 6px #00653a; 
	-moz-box-shadow: inset 0px -4px 6px #00653a, inset 0px 4px 6px #00653a; 
	-webkit-box-shadow: inset 0px -4px 6px #00653a, inset 0px 4px 6px #00653a; 
	border: none;
	padding: 25px 5px 15px 5px;
}

.nav li{
	padding-left: 20px;
	display: inline;
	
	font-family: Arial;
	font-size: 20px;
	color: white;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
}

.nav li:hover {
	cursor: default;
	text-shadow: -2px -2px 0px rgba(0, 0, 0, 0.6);
	color: #ccc;
}

.jumbotron{
	background-image: url('prepare_bg_green2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	height: 360px;
	cursor: default;
}

.jumbotron .container{
  position: relative;
  top:100px;
}

.jumbotron h1{
	font-family: Arial;
	font-size: 48px;
	color: white;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
	
	margin-top: -25px;
	margin-bottom: 0em;
	margin-left: 120px;
}

.jumbotron p{
	font-family: Arial;
	font-size: 20px;
	color: white;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
	
	margin-top: 0em;
	margin-left: 120px;
}

.jumbotron img{
	display: relative;
	margin-top: -80px;
}

.slide{
	display: none;
}

.active-slide{
	display: block;
}

.slider-nav{
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	//text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
	text-align: center;
	
	margin-top: -20px;
	cursor: default;
}

.slider-nav li{
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
	color: #bbb;
}

.slider-nav .slider-dots li.active-dot{
	color: #009053;
}

.content{
	background-color: #fff;
	display: none;
}

.active-content{
	display: block;
}

.content-box{
	height: 100%;
	background-color: #bbb;
	
	margin: 20px 10px;
	padding: 10px;
	border-radius: 10px;
}

.content-box ul{
	list-style-type: none;
	padding: 0px 20px 15px 20px;
}

.content-box li{
	padding-top: 15px;
}